{% extends 'base.html' %}

{% block content %}
<div class="container my-4 px-0">
    <h1 class="my-2 text-center">University Updates</h1>
    <hr>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">New Scholarship Opportunities</h5>
                    <p class="card-text">Explore our new range of scholarships for academic excellence, community service, and sports achievements. Apply now to fund your education at XYZ University.
                    </p>
                    <a href="https://www.scholars4dev.com/category/scholarships-list/#google_vignette" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Upcoming Career Fair </h5>
                    <p class="card-text">Get ready for our upcoming Career Fair on 1st August, 2024. Connect with leading employers, network with alumni, and explore internship and job opportunities across various industries.</p>
                    <a href="https://www.conferencealerts.in/india/career-fair" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Research Grant Award</h5>
                    <p class="card-text">Congratulations to Dr. John Smith for securing a prestigious research grant from abc. This grant will fund groundbreaking research in data science at XYZ University.
                    </p>
                    <a href="https://www.research.va.gov/isrm/shared_docs/resources.cfm" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Student Achievement Highlight </h5>
                    <p class="card-text">Celebrating the achievement of James, who won the national Chess competition.His dedication and talent showcase XYZ University's commitment to excellence in problem solving skills.</p>
                    <a href="https://www.chess.com/article/view/world-chess-champions" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
